body {
    background-color: #ffffff;
}

header {
    padding: 10px;
    height: 60px;
    background-color: black;
    color: #ffffff;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
}

h1 {
    display:inline-block;
    color:black;
    background-color:cyan;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav a {
    color: #ffffff;
    margin-left: 25px;
}

h2 {
    display:inline;
    margin-right: 50px;
}

p {
    display:inline;
}