* {
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;

h1 {
    display:inline-block;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav a {
    color: #ffffff;
    margin-left: 25px;
}

h2 {
    display:inline;
    margin-right: 50px;
}