body {
    background-color: #ffffff;
}

header {
    padding: 10px;
    height: 60px;
    background-color: black;
    color: #ffffff;
}

.hero {
    background-image: url(file:///c%3A/Users/fryha/Documents/UCF/homework/Professional-Portfolio/assets/blue-abstract-line-background_1409-893.avif);
    margin:auto;
    height: 100px;
    width: 100%;
}

h1 {
    margin-left: 0;
    display:inline-block;
    color:black;
    background-color:cyan;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav a:hover {
    animation-direction: normal;
    background-color: cyan;
    color: black;
}
nav a {
    color: cyan;
    margin-left: 25px;
}

#About-Me h2{
    text-align: right;
    display: inline-block;
    max-width: 10%;
    margin: 10px;
    padding-bottom: 100px;
    padding-right: 15px;
    border-right: solid;
    border-right-color:aqua;
}

#About-Me p {
    display:inline-block;
    max-width: 60%;
    margin: 10px;
}

#Work h2{
    text-align: right;
    display: inline-block;
    width: 10%;
    margin: 10px;
    padding-bottom: 100px;
    padding-right: 15px;
    border-right: solid;
    border-right-color:aqua;
}

#Work p {
    display:inline-block;
    max-width: 60%;
    margin: 10px;
}

#Contact-Me h2{
    text-align: right;
    display: inline-block;
    width: 10%;
    margin: 10px;
    padding-bottom: 100px;
    padding-right: 15px;
    border-right: solid;
    border-right-color:aqua;
}

#Contact-Me p {
    display:inline-block;
    max-width: 60%;
    margin: 10px;
 }

 #Contact-Me a {
    display:inline-block;
    max-width: 60%;
    margin: 10px;
 }


#Resume h2{
    text-align: right;
    display: inline-block;
    width: 10%;
    margin: 10px;
    padding-bottom: 100px;
    padding-right: 15px;
    border-right: solid;
    border-right-color:aqua;
}

#Resume a {
    display:inline-block;
    max-width: 60%;
    margin: 10px;
 }

main {
    margin-left: 100px;
    padding: 10px;
}

@media screen and (max-width: 980px) {
    header,
        h1 {
            background-size: 100%;
            text-align: center;
        }
        nav {
            background-color: black;
        }
    main,
        h2 {
            border-right-color: none;
            border-bottom: solid;
            border-bottom-color: cyan;
            text-align: center;
        }
}